<!DOCTYPE html>
<html lang="en" th:replace="~{fragment/base :: base(~{::#content},~{::#title}, ~{})}" 
xmlns:th="http://www.thymeleaf.org">
<head>
    <title id="title">Register</title>
</head>
<body>
    <section id="content">
        <div class="max-w-sm p-6 mx-auto mt-6 bg-white  border-t-4 border-blue-700 rounded-xl shadow
         dark:bg-gray-800 dark:border-gray-700">

            <form class="max-w-sm mx-auto"
            th:action="@{/admin/user/do-register}" method="post"
            th:object="${usersDTO}">

                <!-- <div th:if="${OK}" class="p-4 mb-4 text-sm text-green-700 bg-green-100 rounded-lg dark:bg-green-200
                 dark:text-green-800" role="alert">
                    <span class="font-medium">Success!</span> <span th:text="${success}"></span>
                </div>
                <div th:if="${error}" class="p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg dark:bg-red-200
                 dark:text-red-800" role="alert">
                    <span class="font-medium">Error!</span> <span th:text="${error}"></span>
                </div> -->





                <div th:replace="~{fragment/message :: message}"></div>
                
    
                <div class="mb-3">
                    <h1 class="text-2xl font-semibold text-gray-900 dark:text-white">Register Here</h1>
                </div>
    
                <div class="mb-3">
                    <label for="firstName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        First Name</label>
                    <input type="text" id="firstName" th:field="*{firstName}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
                         focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                          dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Enter Here" required />
                </div>

                <div class="mb-3">
                    <label for="lastName" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Last Name</label>
                    <input type="text" id="lastName" th:field="*{lastName}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
                         focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                          dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="Enter Here"  />
                </div>
    
                <div class="mb-3">
                    <label for="userEmail" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Email</label>
                    <input type="email" id="userEmail" th:field="*{userEmail}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
                         focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                          dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="name@gmail.com" required />
                </div>
                <div class="mb-3">
                    <label for="phone" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                        Phone Number</label>
                    <input type="tel" id="userPhone" th:field="*{userPhone}"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
                         focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                          dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        placeholder="123-456-7890" required />
                </div>
                <div class="mb-3">
                    <label for="user-role" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select User Role</label>
                    <select id="user-role" 
                     class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                     focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
                      dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value="">Select User Role</option>
                        <option value="MANAGER">Manager</option>
                        <option value="EMPLOYEE">Employee</option>                    
                    </select>
                </div>
                
                <button type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none
                     focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center
                      dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                      Submit
                </button>
                <button type="reset"
                    class="text-white bg-gray-700 hover:bg-gray-800 focus:ring-4 focus:outline-none
                     focus:ring-gray-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center
                      dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800 ">
                      Reset
                </button>
    
            </form>
    
        </div>

    </section>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
   
</body>
</html>